* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 0
}
a,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 16px
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman",Times,Georgia,serif;
  font-weight: 700;
  line-height: 2em;
  margin: 16px 16px 0 16px
}
h2,
h3 {
  color: #4d6a00
}
h4,
h5,
h6 {
  font-family: "Segoe UI",Segoe,Arial,Verdana,sans-serif;
  color: #1f3834
}
h1 {
  font-size: 32px;
  color: #4d6a00
}
h2 {
  font-size: 28px
}
h3 {
  font-size: 24px
}
h4 {
  font-size: 20px
}
h5 {
  font-size: 18px
}
h6 {
  font-size: 16px
}
p {
  text-indent: 32px;
  text-align: left;
  margin: 8px 16px;
  line-height: 24px
}
a {
  text-indent: 0;
  color: #4d6a00;
  text-decoration: none
}
a:hover {
  color: #b00020
}
blockquote {
  color: #4d6a00;
  margin: 16px 48px;
  padding: 8px 8px 8px 16px;
  border-left: 4px solid #4d6a00;
  font-style: italic;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px
}
img {
  width: 100%;
  image-rendering: -webkit-optimize-contrast
}
form {
  margin: 16px;
  padding: 16px;
  margin-top: 32px;
  position: relative;
  outline: 2px solid #a6a8aa;
  border-radius: 8px
}
form::before {
  position: absolute;
  top: -14px;
  left: 24px;
  content: attr(caption);
  display: inline-block;
  height: 24px;
  font-size: 16px;
  color: #595c5e;
  background-color: #d8d9d2;
  padding: 0 8px;
  border: 2px solid #a6a8aa;
  border-radius: 12px
}
input {
  display: block;
  font-size: 16px;
  vertical-align: top;
  margin: 8px;
  background-color: rgba(255,255,255,.2);
  color: #274056;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #a6a8aa;
  line-height: 32px;
  -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.1);
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s,-webkit-box-shadow .3s;
  -webkit-transition: border .3s;
  transition: border .3s;
  -webkit-transition: background-color .3s;
  transition: background-color .3s
}
input:focus {
  border: 1px solid #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 4px 4px rgba(0,123,255,.25);
  box-shadow: 0 4px 4px rgba(0,123,255,.25);
  background-color: rgba(255,255,255,.5)
}
input[type=submit] {
  display: inline-block;
  background-color: #1f3948;
  color: #d8d9d2;
  -webkit-box-shadow: 0 4px 4px rgba(31,57,72,.2);
  box-shadow: 0 4px 4px rgba(31,57,72,.2);
  border-color: #1f3834;
  -webkit-transition: background-color .2s;
  transition: background-color .2s
}
input[type=submit]:hover {
  background-color: #4d6a00;
  color: #d8d9d2;
  -webkit-box-shadow: 0 4px 6px rgba(18,126,155,.4);
  box-shadow: 0 4px 6px rgba(18,126,155,.4)
}
input[type=submit]:active {
  background-color: #283700;
  color: #d8d9d2;
  -webkit-box-shadow: 0 2px 6px rgba(18,126,155,.4);
  box-shadow: 0 2px 6px rgba(18,126,155,.4)
}
body,
html {
  height: 100%;
  width: 100%
}
html {
  font-size: 16px
}
body {
  background: #d8d9d2 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAMAAABL52QCAAAABlBMVEXCw8Tp6uwFw7MwAAAAF0lEQVR4AWNgYAQCCMEAIoAQgkA8/LIABOwAKWIaZEkAAAAASUVORK5CYII=);
  font-family: "Segoe UI",Segoe,Arial,Verdana,sans-serif;
  color: #274056
}
header {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1
}
footer {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
aside {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 60px;
  flex-basis: 60px
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  min-height: 100%;
  width: 100%;
  min-width: 300px;
  text-align: center
}
.content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch
}
section {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.container {
  display: block;
  width: 100%;
  margin: 0 auto;
  overflow: hidden
}
@media screen and (min-width:721px) and (max-width:960px) {
  .container {
    width: 690px
  }
}
@media screen and (min-width:961px) and (max-width:1280px) {
  .container {
    width: 930px
  }
}
@media screen and (min-width:1281px) and (max-width:1920px) {
  .container {
    width: 1250px
  }
}
@media screen and (min-width:1920px) {
  .container {
    width: 1880px
  }
}
[v-cloak] {
  display: none
}
.button-inline {
  display: inline-block;
  vertical-align: baseline;
  height: 24px;
  padding: 0 1em;
  line-height: 24px;
  margin: 0 12px;
  background: -webkit-gradient(linear,left top,left bottom,from(white),color-stop(49%,#d8d9d2),color-stop(51%,#c0c2c3),to(#a6a8aa));
  background: linear-gradient(to bottom,#fff,#d8d9d2 49%,#c0c2c3 51%,#a6a8aa);
  font-size: 16px;
  font-family: "Segoe UI",Segoe,Arial,Verdana,sans-serif;
  color: #1f3834;
  text-decoration: none;
  border-radius: .5rem;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 .1rem #a6a8aa;
  box-shadow: 0 0 .1rem #a6a8aa
}
.button-inline:hover {
  background: -webkit-gradient(linear,left top,left bottom,from(#4d6a00),color-stop(48%,#375a79),color-stop(52%,#2f4d68),to(#1f3834));
  background: linear-gradient(to bottom,#4d6a00,#375a79 48%,#2f4d68 52%,#1f3834);
  color: #fff
}
.button-inline:active {
  position: relative;
  top: 1px;
  background: -webkit-gradient(linear,left top,left bottom,from(#283700),color-stop(48%,#2f4d68),color-stop(52%,#274056),to(#1f3834));
  background: linear-gradient(to bottom,#283700,#2f4d68 48%,#274056 52%,#1f3834);
  border-right-color: #d8d9d2;
  border-bottom-color: #d8d9d2
}
.button {
  display: inline-block;
  vertical-align: top;
  margin: 4px;
  background-color: rgba(233,234,236,.3);
  color: #274056;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #a6a8aa;
  line-height: 32px;
  -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.1);
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  -webkit-transition: background-color .2s;
  transition: background-color .2s
}
.button:hover {
  background-color: #c0c2c3;
  -webkit-box-shadow: 0 4px 6px rgba(0,0,0,.2);
  box-shadow: 0 4px 6px rgba(0,0,0,.2)
}
.button:active {
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2);
  box-shadow: 0 2px 6px rgba(0,0,0,.2);
  background-color: #8c8f91
}
.btn-primary {
  background-color: #1f3948;
  color: #d8d9d2;
  -webkit-box-shadow: 0 4px 4px rgba(31,57,72,.2);
  box-shadow: 0 4px 4px rgba(31,57,72,.2);
  border-color: #1f3834
}
.btn-primary:hover {
  background-color: #4d6a00;
  color: #d8d9d2;
  -webkit-box-shadow: 0 4px 6px rgba(18,126,155,.4);
  box-shadow: 0 4px 6px rgba(18,126,155,.4)
}
.btn-primary:active {
  background-color: #283700;
  color: #d8d9d2;
  -webkit-box-shadow: 0 2px 6px rgba(18,126,155,.4);
  box-shadow: 0 2px 6px rgba(18,126,155,.4)
}
.btn-danger {
  background-color: rgba(153,0,0,.3);
  color: #b00020;
  border-color: #b00020;
  -webkit-box-shadow: 0 4px 4px rgba(153,0,0,.2);
  box-shadow: 0 4px 4px rgba(153,0,0,.2)
}
.btn-danger:hover {
  background-color: #e30029;
  color: #d8d9d2;
  -webkit-box-shadow: 0 4px 6px rgba(153,0,0,.4);
  box-shadow: 0 4px 6px rgba(153,0,0,.4)
}
.btn-danger:active {
  background-color: #7d0017;
  color: #d8d9d2;
  -webkit-box-shadow: 0 2px 6px rgba(153,0,0,.4);
  box-shadow: 0 2px 6px rgba(153,0,0,.4)
}
.btn-info {
  background-color: rgba(18,126,155,.3);
  color: #4d6a00;
  border-color: #4d6a00;
  -webkit-box-shadow: 0 4px 4px rgba(18,126,155,.2);
  box-shadow: 0 4px 4px rgba(18,126,155,.2);
  cursor: help
}
.btn-info:hover {
  background-color: #729d00;
  color: #d8d9d2;
  -webkit-box-shadow: 0 4px 6px rgba(18,126,155,.4);
  box-shadow: 0 4px 6px rgba(18,126,155,.4)
}
.btn-info:active {
  background-color: #283700;
  color: #d8d9d2;
  -webkit-box-shadow: 0 2px 6px rgba(18,126,155,.4);
  box-shadow: 0 2px 6px rgba(18,126,155,.4)
}
.btn-success {
  background-color: rgba(0,132,15,.3);
  color: #00840f;
  border-color: #00840f;
  -webkit-box-shadow: 0 4px 4px rgba(0,132,15,.2);
  box-shadow: 0 4px 4px rgba(0,132,15,.2)
}
.btn-success:hover {
  background-color: #00b715;
  color: #d8d9d2;
  -webkit-box-shadow: 0 4px 6px rgba(0,132,15,.4);
  box-shadow: 0 4px 6px rgba(0,132,15,.4)
}
.btn-success:active {
  background-color: #005109;
  color: #d8d9d2;
  -webkit-box-shadow: 0 2px 6px rgba(0,132,15,.4);
  box-shadow: 0 2px 6px rgba(0,132,15,.4)
}
.btn-attention {
  background-color: rgba(220,140,0,.3);
  color: #dc8c00;
  border-color: #dc8c00;
  -webkit-box-shadow: 0 4px 4px rgba(220,140,0,.2);
  box-shadow: 0 4px 4px rgba(220,140,0,.2)
}
.btn-attention:hover {
  background-color: #ffa810;
  color: #d8d9d2;
  -webkit-box-shadow: 0 4px 6px rgba(220,140,0,.4);
  box-shadow: 0 4px 6px rgba(220,140,0,.4)
}
.btn-attention:active {
  background-color: #a96c00;
  color: #d8d9d2;
  -webkit-box-shadow: 0 2px 6px rgba(220,140,0,.4);
  box-shadow: 0 2px 6px rgba(220,140,0,.4)
}
.btn-disabled {
  background-color: rgba(233,234,236,.5);
  color: #a6a8aa;
  -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.1);
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  cursor: not-allowed
}
.btn-disabled:active,
.btn-disabled:hover {
  background-color: rgba(233,234,236,.5);
  color: #a6a8aa;
  -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.1);
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  cursor: not-allowed
}
.img-article {
  width: calc(100% - 24px);
  margin: 12px
}
.thumb {
  width: calc(100% - 24px);
  margin: 8px;
  border-width: 8px;
  border-style: solid;
  border-color: #fff;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,.3);
  box-shadow: 0 0 8px rgba(0,0,0,.3)
}
.thumb-320 {
  width: 288px
}
.primary {
  background-color: #1f3948;
  color: #d8d9d2;
  -webkit-box-shadow: 0 4px 4px rgba(31,57,72,.2);
  box-shadow: 0 4px 4px rgba(31,57,72,.2);
  border-color: #1f3834
}
.danger {
  background-color: rgba(153,0,0,.3);
  color: #b00020;
  border-color: #b00020;
  -webkit-box-shadow: 0 4px 4px rgba(153,0,0,.2);
  box-shadow: 0 4px 4px rgba(153,0,0,.2)
}
.info {
  background-color: rgba(18,126,155,.3);
  color: #4d6a00;
  border-color: #4d6a00;
  -webkit-box-shadow: 0 4px 4px rgba(18,126,155,.2);
  box-shadow: 0 4px 4px rgba(18,126,155,.2);
  cursor: help
}
.success {
  background-color: rgba(0,132,15,.3);
  color: #00840f;
  border-color: #00840f;
  -webkit-box-shadow: 0 4px 4px rgba(0,132,15,.2);
  box-shadow: 0 4px 4px rgba(0,132,15,.2)
}
.attention {
  background-color: rgba(220,140,0,.3);
  color: #dc8c00;
  border-color: #dc8c00;
  -webkit-box-shadow: 0 4px 4px rgba(220,140,0,.2);
  box-shadow: 0 4px 4px rgba(220,140,0,.2)
}
.disabled {
  background-color: rgba(233,234,236,.5);
  color: #a6a8aa;
  -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.1);
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  cursor: not-allowed
}
header {
  background-color: #274056
}
footer {
  background-color: #a6a8aa
}
aside {
  background-color: #a6a8aa
}
.accordeon {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 100%;
  text-align: center
}
.picker {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.03),0 0 0 5px rgba(255,255,255,.22) inset;
  box-shadow: 0 0 0 0 rgba(0,0,0,.03),0 0 0 5px rgba(255,255,255,.22) inset;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: #274056;
  margin: 4px
}
.picker:hover {
  -webkit-box-shadow: 0 0 0 10px rgba(0,0,0,.06),0 0 0 0 rgba(255,255,255,.22) inset;
  box-shadow: 0 0 0 10px rgba(0,0,0,.06),0 0 0 0 rgba(255,255,255,.22) inset
}
.primdark {
  background-color: #0c2132
}
.prim {
  background-color: #274056
}
.primlight {
  background-color: #375a79
}
.secdark {
  background-color: #9c7347
}
.sec {
  background-color: #c39f6d
}
.seclight {
  background-color: #e1d6c0
}
.aberration {
  background-color: #5e8880
}
.contrast {
  background-color: #b00020
}
.light {
  background-color: #4d6a00
}
.dark {
  background-color: #1f3834
}
.bg {
  background-color: #d8d9d2
}
.bgdark {
  background-color: #a6a8aa
}
.altprimdark {
  background-color: #0a3931
}
.altprim {
  background-color: #11613c
}
.altprimlight {
  background-color: #9ab787
}
.altsecdark {
  background-color: #af8107
}
.altsec {
  background-color: #f9d40a
}
.altseclight {
  background-color: #fdfb06
}
.altaberration {
  background-color: #d2b77f
}
.altcontrast {
  background-color: #b00020
}
.altlight {
  background-color: #085251
}
.altdark {
  background-color: #0c2833
}
.altbg {
  background-color: #d8d9d2
}
.altbgdark {
  background-color: #a6a8aa
}