doctype html
html(lang="en")
	include _header
	body
		.wrapper
			header
				h1 Header
			main
			aside
				p paragraph 1
			.content
				section
				.accordeon
					.picker.primdark
					.picker.prim
					.picker.primlight
					.picker.secdark
					.picker.sec
					.picker.seclight
					.picker.contrast
					.picker.aberration
					.picker.light
					.picker.dark
					.picker.bg
					.picker.bgdark
				.accordeon
					.picker.altprimdark
					.picker.altprim
					.picker.altprimlight
					.picker.altsecdark
					.picker.altsec
					.picker.altseclight
					.picker.altcontrast
					.picker.altaberration
					.picker.altlight
					.picker.altdark
					.picker.altbg
					.picker.altbgdark
				section
					h1 Heading 1 example
					h2 Heading 2 example
					h3 Heading 3 example
					h4 Heading 4 example
					h5 Heading 5 example
					h6 Heading 6 example
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. #[a(href="#") Soluta] rerum nulla adipisci cupiditate cum quas fugit eaque unde veritatis. Animi? #[a(href="#").button-inline Inline button example] can help :)
					a(href="#").button Button
					a(href="#").button.btn-primary Primary
					a(href="#").button.btn-danger Danger
					a(href="#").button.btn-attention Attention
					a(href="#").button.btn-info Info
					a(href="#").button.btn-success Success
					a(href="#").button.btn-disabled Disabled
					img(src="https://i.pinimg.com/474x/84/62/66/8462662fb7d524ce5a99ec7fac9007db--project--free-stuff.jpg").thumb.thumb-320
					blockquote.info Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aliquam ex hic cupiditate dolorem inventore maiores eligendi debitis, at cum laboriosam deserunt eum iure adipisci sunt aut natus. Nostrum, reiciendis?
					blockquote.success Informacija issiusta adresu: #[span email]
				section   
				form(caption="Test Form")
					input(type="text")
					input(type="checkbox")
					input(type="date")
					input(type="datetime-local")
					input(type="email")
					input(type="file")
					input(type="hidden")
					input(type="image")
					input(type="month")
					input(type="number")
					input(type="password")
					input(type="radio")
					input(type="range")
					input(type="reset")
					input(type="search")
					input(type="tel")
					input(type="time")
					input(type="url")
					input(type="week")
					input(type="submit" value="сохранить")
			footer
			h3 footer